<form>
  <div class="pwd-length-row">
    <input type="number" (change)="updatePasswordLength($event)" min="4" max="32"  value="{{passwordLenght}}" />
  </div>
  
  
  <div class="flex">
    <span *ngFor="let checkbox of checkboxes">
      <input type="checkbox" (change)="updateCheckboxValue($event)" id="{{checkbox.id}}" [checked]="checkbox.checked" />
      <label for="{{checkbox.id}}">{{checkbox.label}}</label>
    </span>
  </div>

  <div class="generate-row"><button type="button" (click)="generatePassword()">{{buttonLabel}}</button></div>
  <div class="generate-row">{{newPassword}}</div>
</form>